// Color
$main_color: #4DA1FF;
$first_color: #f9f9f9;
$second_color: #000;
$default_color: #fff;

//Color Social
$bg_facebook: #3C599F;
$bg_linkedin: #0085AE;
$bg_github: #000000;
$bg_envelope: #504e54;

// List
$section: education, experience;