// Color
$main_color: #4da1ff;
$first_color: #f9f9f9;
$second_color: #000;
$default_color: #fff;

//Color Social
$bg_facebook: #3c599f;
$bg_linkedin: #0085ae;
$bg_github: #000000;
$bg_envelope: #504e54;

// List
$section: education, experience;
